.home-container {
  text-align: center;
  padding: 40px;
}

.home-text {
  color: var(--texto-secundario);
  margin: 16px 0 30px 0;
}

.btn-home-ingresar {
  display: inline-block;
  text-decoration: none;
  line-height: 22px;
}
